<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="formulario">
        <div class="borda-form">
            {% block body %}
            <h1>Form</h1>
            {% endblock %}
        </div>
    </div>
    {% block scripts %}
    <script>
        window.onload = function() {
            const flashMessages = document.querySelectorAll('.flash-message');
            if (flashMessages) {
                const flashMessage = flashMessages[0]
                setTimeout(function() {
                    flashMessage.style.opacity = '0';  // Inicia o fade-out
                    setTimeout(function() {
                        flashMessage.remove();  // Remove a mensagem após o fade-out
                    }, 1000);  // Tempo da animação de fade-out
                }, 5000);
            }
        }
    </script>
    {% endblock %}
</body>
</html>